.navigation {
  display: flex;
  cursor: pointer;
}

.navigation .icon {
  font-size: 1rem;
  color: #fff;
}

.navigation .title {
  margin-left: 1rem;
  font-size: 1rem;
  color: black;
  font-weight: normal;
  text-decoration: none;
}