*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* 
import 'package:flutter/material.dart';

class StockerColors {
  // primary colors
  static Color primary = const Color(0xff2979FF);
  static Color primaryLight = const Color(0xff75a7ff);
  static Color primaryDark = const Color(0xff004ecb);

  // background
  static Color backgroundContent = const Color(0xffF5F6FA);
  static Color backgroundLight = const Color(0xffffffff);
  static Color backgroundDark = const Color(0xffc2c3c7);

  // background dark
  static Color backgroundRevert = const Color(0xff212121);
  static Color backgroundRevertLight = const Color(0xff484848);
  static Color backgroundRevertDark = const Color(0xff000000);
  
  // success
  static Color success = const Color(0xff388e3c);
  static Color successLight = const Color(0xff6abf69);
  static Color successDark = const Color(0xff00600f);

  // info
  static Color info = const Color(0xff0288d1);
  static Color infoLight = const Color(0xff5eb8ff);
  static Color infoDark = const Color(0xff005b9f);

  // warning
  static Color warning = const Color(0xfff57d01);
  static Color warningLight = const Color(0xffffae42);
  static Color warningDark = const Color(0xffbb4e00);

  // error
  static Color error = const Color(0xffd3302f);
  static Color errorLight = const Color(0xffff6659);
  static Color errorDark = const Color(0xff9a0007);
} */


/* import 'package:flutter/material.dart';
import 'package:stocker/library/colors.dart';

class StockerTypography {
  static TextStyle title = TextStyle(
    color: StockerColors.backgroundRevertDark,
    fontSize: 32.0,
    fontWeight: FontWeight.bold,
    fontFamily: 'Roboto',
  );

  static TextStyle title2 = TextStyle(
    color: StockerColors.backgroundRevertDark,
    fontSize: 30.0,
    fontWeight: FontWeight.bold,
    fontFamily: 'Roboto',
  );

  static TextStyle subtitle = TextStyle(
    color: StockerColors.backgroundRevertDark,
    fontSize: 18.0,
    fontWeight: FontWeight.bold,
    fontFamily: 'Roboto',
  );

  static TextStyle body = TextStyle(
    color: StockerColors.backgroundRevertDark,
    fontSize: 14.0,
    fontWeight: FontWeight.normal,
    fontFamily: 'Roboto',
  );

  static TextStyle caption = TextStyle(
    color: StockerColors.backgroundRevertDark,
    fontSize: 12.0,
    fontWeight: FontWeight.normal,
    fontFamily: 'Roboto',
  );
} */